services:
  auth:
    build:
      context: ./auth
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:${AUTH_SERVICE_PORT}:8000"
    env_file:
      - ./auth/.env
    
  auth-db:
    image: postgres:${POSTGRES_HASH}
    container_name: auth-db
    env_file:
    - ./auth/.env.postgres
    volumes:
      - auth-db-data:/var/lib/postgresql
    ports:
      - "127.0.0.1:${AUTH_DB_PORT}:${AUTH_DB_PORT}"

    command: ["postgres", "-c", "port=${AUTH_DB_PORT}"]

  library:
    build:
      context: ./library
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:${LIBRARY_SERVICE_PORT}:8000"
    env_file:
      - ./library/.env
  
  library-db:
    image: postgres:${POSTGRES_HASH}
    container_name: library-db
    env_file:
      - ./library/.env.postgres
    volumes:
      - library-db-data:/var/lib/postgresql
    ports:
      - "127.0.0.1:${LIBRARY_DB_PORT}:${LIBRARY_DB_PORT}"    
    command: ["postgres", "-c", "port=${LIBRARY_DB_PORT}"]

  storage:
    build:
      context: ./storage
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:${STORAGE_SERVICE_PORT}:8000"
    env_file:
      - ./storage/.env

  storage-db:
    image: postgres:${POSTGRES_HASH}
    container_name: storage-db
    env_file:
      - ./storage/.env.postgres
    volumes:
      - storage-db-data:/var/lib/postgresql
    ports:
      - "127.0.0.1:${STORAGE_DB_PORT}:${STORAGE_DB_PORT}"
    command: ["postgres", "-c", "port=${STORAGE_DB_PORT}"]


volumes:
  auth-db-data:
  library-db-data:
  storage-db-data:
